/*----------------------------------------------------------------
					Start Default Settings
----------------------------------------------------------------*/

/*========== All Transition Settings ==========*/

/*========== Block Settings ==========*/
img {
    max-width: 100%;
    height: auto;
}
iframe {
    width: 100%;
    border: none;
}
a,
a:hover,
a:focus,
a:active,
button:focus {
    text-decoration: none;
    border: none;
    outline: 0;
    color: #FFF;
}
ul
ol,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
select:focus,
select:active {
    box-shadow: none;
    border: 0;
    outline: 0
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="subject"]:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
    border: 1px solid rgba(157, 5, 87, 0.24);
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="subject"],
textarea {
    outline: 0;
    resize: none;
    font-weight: 400;
    width: 100%;
    line-height: 24px;
    height: 50px;
    font-size: 14px;
    border: 1px solid #f1f1f1;
    padding: 13px 20px;
    background: #f5f5f5;
    color: #02185a;
    border-radius: 0;
    box-shadow: none !important;
    margin-bottom: 0;
    display: table-cell;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

textarea {
    height: 150px;
    padding-top: 20px;
}
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}

.border-offwhite{
    border: 1px solid #ccc !important;
}
.no-border{
    border: none !important;
}

.form-control{
    background-color: #fff !important;
    padding: 0;
}

/*========= Alignment CSS ==========*/
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.text-bold{
    font-weight: bold;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body{
    direction: rtl;
}

/* Margins and paddings */
.pad-10{
    padding: 10px;
}

.pt-10{
    padding-top: 10px;
}

.pt-20{
    padding-top: 20px;
}

.pb-10{
    padding-bottom: 10px;
}

.pr-10 {
    padding-right: 10px!important;
}

.pl-10 {
    padding-left: 10px!important;
}

.pt-30{
    padding-top: 30px;
}

.pb-30{
    padding-bottom: 30px;
}

.pr-30 {
    padding-right: 30px!important;
}

.pl-30 {
    padding-left: 30px!important;
}

.mt-15{
    margin-top: 15px;
}

.mt-20{
    margin-top: 20px;
}

.ml-10{
    margin-left: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mr-30{
    margin-right: 30px;
}

.mb-30{
    margin-bottom: 30px;
}

.ml-30{
    margin-left: 30px;
}


.h-100{
    height: 100% !important;
}
/* End of margins and paddings */
.bg-blue{
    background: #3da8c0;
}

.bg-orange {
    background: #f4794c;
}

.bg-off-white {
    background: #ccc;
}

.text-blue{
    color: #3da8c0;
}

.text-yellow{
    color: yellow;
}

.no-decoration{
    text-decoration: none;
}
/* Navbar styles */
.header{
    top: 0;
    width: 100%;
    z-index: 20;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.16);
    transition-property: background,color;
    transition-duration: .25s,.25s
}
.header ul {
    list-style: none;
    padding: initial;
    margin: initial;
}
[dir=rtl] .header ul li {
    float: right;
}
.header ul li {
    float: left;
    margin-left: 6px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
}
.header ul li a {
    color: #000;
    text-decoration: none;
}
.navbar{
    padding: 0 !important;
}

.no-outline {
    outline: none!important;
}

.header .header-logo {
    max-height: 64px;
}

.navbar-collapse{
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.align-items-center{
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}

/* **End** Navbar styles */

/* Steps styles */
.steps{
    min-height: 160px;
    background: #3da8c0;
    display: flex;
    align-items: center;
}

.steps .steps-header{
    font-size: 24px;
}

.steps .step{
    border: 1.5px solid #fff;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 2px 10px;
}

.steps .step.active{
    color: #3da8c0;
    background: #fff;
}

.steps .separator{
    padding: 0;
}

.steps .separator:before{
    height: 1px;
    content: "";
    background: #fff;
    display: flex;
    align-items: center;
    margin-top: 14px;
}
/* End of steps styles */

/* search form */
.searchbar .input-group-text{
    background-color: inherit;
    border: inherit;
}

/* End of search form */

/* Search results styles*/
.searchbar .recommendation-card{
    height: 390px;
    font-size: 16px;
}

[dir=rtl] .recommended-image {
    transform: scaleX(-1);
}

.doctor-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: center;
}

.doctor-card .profile-pic-container {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.doctor-card .profile-pic-container .pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.doctor-card .title {
    font-size: 12px;
    color: #666669;
    min-height: 36px;
}

.doctor-card .fees {
    color: #4d4d4f;
    font-size: 14px;
}

.doctor-card .fees img{
    height: 30px;
    width: 30px;
}

.doctor-card .sessions img{
    height: 20px;
    width: 20px;
}

.doctor-card .buttons {
    display: flex;
    justify-content: space-between;
}

.doctor-card .buttons div {
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

.doctor-card .buttons div.book {
    background: #3da8c0;
    color: #fff;
}

.doctor-card .buttons div a {
    font-size: 13px;
}

.doctor-card .buttons div.view-profile {
    background: #ccc;
    color: #4d4d4f;
}


.doctor-card .rating-container {
    position: relative;
}

.doctor-card .speciality {
    color: #4d4d4f;
    font-size: 12px;
    min-height: 36px;
}

/* end of search results */
/*----------------------------------------------------------------
					Start Section Footer
----------------------------------------------------------------*/
footer {
    min-height: 262px;
    padding-top: 30px;
    padding-bottom: 40px;
    background: #323232;
    position: relative;
    bottom:0;
    width:100%;
    background:#3591a6;
    text-align: right;
}
footer .box-title{
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
    -webkit-padding-start: 0;
    padding-inline-start: 0px !important;
}
footer > ul, footer ul li a{
    text-align: right;
    color: #fff;
    text-decoration: none;
}

footer ul li{
    margin-top: 8px;
    cursor: pointer;
}

footer .logo{
    max-height: 60px;
}

footer .copyright{
    color: #fff;
}

footer a:hover{
    color: #363636!important;
}

/**/

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .profile-review-container {
    position: fixed;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0;
    top: 0;
    height: calc(var(--vh, 1vh) * 100);
    max-width: 548px;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 1px;
    z-index: 1051;
    -webkit-animation-fill-mode: initial!important;
    animation-fill-mode: none!important;
    -webkit-animation-name: slideRight;
    animation-name: slideRight;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 5;
    animation-delay: 5;
    transition-timing-function: ease-in;
}

.profile-review-container .doctor-pic {
    max-width: 100%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


/* sidebar search */
.search-page .filters-container {
    min-height: 100vh;
    box-shadow: 0 0 2px rgba(0,0,0,.16);
}
/* End of sidebar search */
